extends layout

block content
  h3= title

  table.table.table-sm.table-hover
    thead.thead-light
      tr
        th(scope='col' width='250px') Language 
        th(scope='col') isVerified 

    tbody
      - languages.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
      //- Loops through each genre from the genre list.
      each language in languages

        tr
          
          td
            a(href=language.url) #{language.name} 

          if language.isVerified
            td Yes
          else
            td 
              form(method='POST' action='')
                div.form-group
                  select#isVerified.form-control(type='select', name='isVerified' value=(undefined===language ? '' : language.isVerified)) 
                    option(value="true" selected=(language.isVerified) ? 'selected' : false) Yes
                    option(value="false" selected=(!language.isVerified) ? 'selected' : false) No
                  label(for='languageId')
                  input#languageId.form-control(type='hidden' name='languageId' required='true' value=language._id)
                button.btn.btn-primary(type='submit') Submit
      else
        tr
          td
          td There are no languages pending approval
          td
          td
    
  a.btn.btn-secondary(href='/dashboard') Go back to Dashboard