extends layout

block content
  h3= title
  hr
  .container
    #unorderedList.ul
      each country in country_list
        li
          a(href=country.url) #{country.name} 
      else
        li There are no countries.