extends layout

block content
  h3= title
  
  table.table.table-sm.table-hover
    thead.thead-light
      tr
        th(scope='col' width='30px') #
        th(scope='col') Genre 
    tbody 
      - let index = 0
      each genre in genre_list
        - index++
        tr
          th(scope='row') !{index}.
          td 
            a(href=genre.url) #{genre.name} 
      else
        li There are no genres yet. Add one 
          | 
          a(href='/catalog/book/create') now.