extends layout

block content
  h3 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='name') Language:
      input#name.form-control(type='text', placeholder='English, German etc.' name='name' value=(undefined===language ? '' : language.name))
    button.btn.btn-primary(type='submit') Submit
    | 
    a.btn.btn-secondary(href='/catalog/books') Cancel

  if errors 
   ul
    for error in errors
     li!= error.msg